# Xcode
build
.lastCheckout
*.pbxuser
DerivedData/*
*/*.xcodeproj/projectxcworkspace/
Dependencies/Crashlytics.framework
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
.gl
.DS_Store
*.xcscmblueprint


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

app/houzz.xcodeproj/project.xcworkspace
houzz.xccheckout

#Fastlane artifacts
# fastlane temporary profiling data
/fastlane/report.xml
# deliver temporary error output
/fastlane/Error*.png
# deliver temporary preview output
/fastlane/Preview.html
# snapshot generated screenshots
/fastlane/screenshots/*/*-portrait.png
/fastlane/screenshots/*/*-landscape.png
/fastlane/screenshots/screenshots.html
# frameit generated screenshots
/fastlane/screenshots/*/*-portrait_framed.png
/fastlane/screenshots/*/*-landscape_framed.png
